<div class="user-details">
  <h1 align="center"> Demos </h1>
  <div class="user-projects">
    <h3>Steering from Video</h3>
    <div class="projects-container-video-right">
      <div class="projects-contents">
        <p>Advanced steering assistance logic, implemented as a neural net trained
           directly on video frames from the forward camera.</p>
          
        <p>Here, modern machine learning allowed us to dramatically improve
          robustness and broaden the range of acceptable conditions for the driver
          asisst system. Unlike legacy systems, commercially available today, our
          solution does not depend on lane markings and easily handles twisty roads.
        </p>
      </div>
      <div class="projects-images">
        <div class="youtube" data-embed="yTUo-biNPG4"> 
          <div class="play-button"></div> 
        </div>
      </div>
    </div>
  </div>
  <div class="user-projects">
    <h3>Motion Capture with Commodity Hardware</h3>
    <div class="projects-container-video-left">
      <div class="projects-images">
        <div class="youtube" data-embed="HvfqpzvW2E8"> 
          <div class="play-button"></div> 
        </div>
      </div>
      <div class="projects-contents">
        <p>Training data is the crucial factor that determines the accuracy
          of machine learning systems. No algorithmic improvements can fully
          compensate for training data that is not plentiful or accurate enough.
        </p>
        
        <p>
          We have developed a self-contained motion capture system, running on
          commodity Android platform for <strong>low-cost training data collection</strong>.
          The platform is <strong>completely self-contained and does not need any link
          to the vehicle data bus</strong> - our software extracts steering and velocity
          information directly from the Android device IMU and GPS sensors. The
          result is a system that can be deployed with 
          <strong>zero setup cost</strong> on <strong>any vehicle</strong>.      
        </p>
        
        <p>
          We have <strong>validated the results</strong> against the data directly from the
          vehicle CAN bus and observed a <strong>near-perfect agreement</strong>.
        </p>
      </div>
    </div>
  </div>
</div>
