<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
      {% include header.html %}
      <section id="about">
        {% include about.html %}
      </section>
      <section id="projects">
        {% include projects.html %}
      </section>
        {{ content }}
      {% include footer.html %}
  <!-- YT lazyload snippet from https://webdesign.tutsplus.com/tutorials/how-to-lazy-load-embedded-youtube-videos--cms-26743 -->
  <script type="text/javascript">{% include js/yt-lazyload.js %}</script>
  {% include ya-metrica.html %}
  </body>
